// I set some common variables to demonstrate the use of multiple SASS files.

$primary_color:#fff;
$black:#000;
$main_background_color:#9e84ce;
$second_background_color:#fe767a;
$article_background_color:rgba(255, 255, 255, 0.45);


$top_bar_size:80px;

$main_font_size:18px;
$main_font_family:bitterregular,sans-serif;
