// Import of the variables file.
@import "./variables";
@import "./fonts";

// This file contains the styles of our application.
// This file will be compiled in the main.css in our 'dist' dir.
body {
  font-size: 16px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: $main_font_family;
  color: #fff;
  font-size: 24px;
  display: block;
  float: left;
  background: $main_background_color;
  background-image: url(../img/observatorio.png);
  background-blend-mode: screen;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 30%;
  min-height: 1000px;

}

.top_nav_bar {
  overflow: hidden;
  display: block;
  height: $top_bar_size;
  background: $second_background_color;
  background: -moz-linear-gradient(top,  $second_background_color 0%, $main_background_color 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$second_background_color), color-stop(100%,$main_background_color));
  background: -webkit-linear-gradient(top,  $second_background_color 0%,$main_background_color 100%);
  background: -o-linear-gradient(top,  $second_background_color 0%,$main_background_color 100%);
  background: -ms-linear-gradient(top,  $second_background_color 0%,$main_background_color 100%);
  background: linear-gradient(to bottom,  $second_background_color 0%,$main_background_color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$second_background_color', endColorstr='$main_background_color',GradientType=0 );
  width: 100%;
  text-align: center;
  line-height: $top_bar_size;
  p {
    margin: 0;
    padding: 0;
  }
}

.container {
  width: 80%;
  padding: 0 5%;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 4%;
  border: 2px solid #fff;
  overflow: hidden;
  .row {
    display: block;
    width: 100%;
    overflow: hidden;
    float: left;


    #loading span {
      float: left;
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
    }

    img{
      margin: 0 auto;
      width: 150px;
      display: block;
    }

  }
  input[type="text"],select {
    box-sizing: content-box;
    width: 45%;
    float: left;
    height: 25px;
    padding: 5px;
    padding-left: 20px;
    color: $second_background_color;
    font-family: $main_font_family;
    font-size: 16px;
  }
  input[type="text"]{
    margin-right:2%;
  }
  form {
    display: block;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .article {
    box-sizing: border-box;
    width: 30%;
    float: left;
    display: block;
    overflow: hidden;
    margin: 20px 10px;
    min-height:300px;
    max-height: 300px;
    padding: 20px;
    background: $article_background_color;
    text-align: center;
    border: 2px solid #fff;

    img{
      width: 100%;
      max-width: 160px;
      height: 160px;
      margin:0 auto;
      margin-top:20px;
    }
    p,a{
      text-align:center;
      width:100%;
      float:left;
      font-size:12px;
      color:$black;
      font-family: bitterbold;
    }
    a {
      font-family: bitterregular;
      text-decoration: none;
    }
  }
  select.select_category {
      float: left;
      height: 39px;
  }

}
